* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #17408B;
    color: #ffffff;
    padding: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2rem;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background:#ffffff;
    color: black;
    border: 3px solid #C9082A;
    padding: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #C9082A;
}

input[type="text"]:focus {
    outline: none;
    border-color: #4d4d4d;
}

#searchResults {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
}

.player-item {
    padding: 8px;
    border-bottom: 1px solid #000000;
    color: black;
    cursor: pointer;
}

.player-item:hover {
    background-color: #f0f0f0;
}

#selectedPlayers {
    margin-top: 10px;
}

.selected-player {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #d9d9d9;
}

button {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.analyze-btn {
    width: 100%;
    margin-top: 15px;
    background: #222;
    color: white;
    border: none;
}

.analyze-btn:disabled {
    background: #C9082A;
    cursor: not-allowed;
}

#resultsCard {
    margin-top: 20px;
}

.strength-row {
    margin-bottom: 12px;
}

.strength-label {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    margin-bottom: 4px;
}

.strength-bar {
    width: 100%;
    height: 14px;
    background-color: #e0e0e0;
}

.strength-fill {
    height: 100%;
}

.shooting { background-color: #4a90e2; }
.scoring { background-color: #7b7b7b; }
.playmaking { background-color: #50b083; }
.defense { background-color: #d16c6c; }
.rebounding { background-color: #c2a14d; }
.overall { background-color: #222; }


@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
